.chatdiv_main span.s_color{
    color: var(--v-font_secondary-base);
}

.chatdiv_main span{
    color: var(--v-font_main-base);
}

.chatdiv_main a{
    color: var(--v-font_main-base);
    text-decoration: underline;
}

.chatdiv_main a:hover{
    color: var(--v-primary-base);
}

.chatdiv_main .v-counter{
    color: var(--v-font_main-base) !important;
}

.chatdiv_main .mobile .v-counter{
    line-height: unset !important;
}

.chatdiv_main div::-webkit-scrollbar {
    width:20px;
    background: var(--v-scrollbar_bg-base);
}

.chatdiv_main div::-webkit-scrollbar-button:single-button {
    height: 15px;
    width: 20px;
}


.chatdiv_main div::-webkit-scrollbar-button:single-button:vertical:decrement {
    border-width: 5px 10px 10px 10px;
    border-style: solid;
    border-color: transparent;
    border-bottom-color: var(--v-scrollbar-base);
}


.chatdiv_main div::-webkit-scrollbar-button:single-button:vertical:increment {
    border-width: 10px 10px 5px 10px;
    border-style: solid;
    border-color: transparent;
    border-top-color: var(--v-scrollbar-base);
}





.chatdiv_main div::-webkit-scrollbar-thumb {
    border: 4px solid transparent;
    border-radius: 15px;
    background-color: var(--v-scrollbar-base);
    background-clip: content-box;
}


.chatdiv_main .v-text-field__slot input{
    color: var(--v-font_main-base)!important;
}

.chatdiv_main .v-text-field__slot input::placeholder{
    color: var(--v-font_main-base)!important;
}

.chatdiv_main .v-input__slot .v-label{
    color:var(--v-font_main-base)!important;
}

.chatdiv_main .v-input__slot i{
    color:var(--v-font_main-base)!important;
}

.chatdiv_main .theme--light.v-text-field>.v-input__control>.v-input__slot:before{
    border-color: var(--v-font_main-base)!important;
}


.chatdiv_main .v-expansion-panel-header__icon i{
    color: var(--v-font_main-base)!important;
}

.chatdiv_main .obj_sel.v-list span{
    color: var(--v-font-secondary-base)!important;
}

.chatdiv_main .v-select__slot .v-label{
    color:var(--v-font_main-base)!important;
}

.chatdiv_main .v-select__selection{
    color:var(--v-font_main-base)!important;
}

.chatdiv_main .v-select__slot input::placeholder {
    color:var(--v-font_main-base)!important;
}

.chatdiv_main .v-text-field__slot textarea{
    color:var(--v-font_main-base)!important;
}

.chatdiv_main .v-text-field__slot textarea::placeholder{
    color:var(--v-font_main-base)!important;
}

.chatdiv_main .v-file-input__text {
    color:var(--v-font_main-base)!important;
}

.chatdiv_main .v-input__icon i{
    color:var(--v-font_main-base)!important;
}

.chatdiv_main .v-btn span{
    color: var(--v-font_btn-base);
}

.chatdiv_main .bg.v-btn--icon::before {
    opacity: 1;
  }

.chatdiv_main .v-btn i{
    color: var(--v-font_btn-base);
}

.chatdiv_main button.v-icon{
    color: var(--v-font_main-base)!important;
}

.chatdiv_main .v-btn span .selected{
    color: var(--v-font_btn_sel-base);
}

.chatdiv_main .v-btn.selected i{
    color: var(--v-font_btn_sel-base)!important;
}

.chatdiv_main .v-btn--active{
    background-color: var(--v-button_sel-base) !important;
}

.chatdiv_main .v-btn--active span{
    color: var(--v-font_btn_sel-base);
}

.chatdiv_main .v-btn--active i{
    color: var(--v-font_btn_sel-base);
}

.chatdiv_main .v-btn.btn_tr span{
    color: var(--v-font_main-base);
}

/* logs */
.chatdiv_main .logdiv{
    overflow:visible !important;
    position: fixed !important;
    top: 10% !important;
    left: 50% !important;
    transform: translateX(-50%);
    width:80%;
    max-width: 1000px !important;
}

.chatdiv_main .balance_popup{
    overflow:visible !important;
    position: fixed !important;
    top: 10% !important;
    left: 50% !important;
    transform: translateX(-50%);
    max-width: 1000px !important;
}

.chatdiv_main .p_data{
    width:max-content;
}

/* autocomplete */
.chatdiv_main .acom .text{
    color:inherit !important;
}

.chatdiv_main .mesdiv.highlight{
/*НЕ УДАЛЯТЬ*/
}
