<template>
    <div v-if="permited('file_attach')">
        <table>
            <tr>
                <td align="center">
        <v-btn @click='attach()' 
            icon
            :class="m_class"
            :color="get_color('button')"
            :height="iconbtn_size + 'px'"
            :width="iconbtn_size + 'px'"
            v-bind:style="{
                
        }">
            <v-icon :size="icon_size+'px'" :color="get_color('font_main')">
                mdi-paperclip
            </v-icon>
        </v-btn>
                </td>
            </tr>
            <tr>
                <td align="center">
        <span v-if="content.length>0" :class="m_class">
            {{content.length}}
        </span>
                </td>
            </tr>
        </table>
        <overlay-el v-model="show_files">
            <template v-slot:header>
                <div v-bind:style="{
                    'padding':5+'px',
                }">
                    <table width="100%">
                        <tr>
                            <td v-if="max_n>0">
                                <span :class="m_class">
                                    {{content.length}}/{{max_n}}
                                </span>
                            </td>
                            <td align='center'>
                                <v-btn @click='inp_click()'
                                    :class="m_class"
                                    :disabled="check_limit!=0"
                                    :color="get_color('button')"
                                    :height="btn_size + 'px'"
                                    v-bind:style="{
                                        
                                }">
                                    <v-icon :size="icon_size+'px'" :color="get_color('')">
                                        mdi-plus
                                    </v-icon>
                                    <span :class="m_class">
                                    {{_('Add files')}}
                                    </span>
                                </v-btn>
                            </td>
                            <td v-if="max_mb>0" align='right'>
                                <span :class="m_class">
                                    {{total_size_str}}/{{max_mb}}Mb
                                </span>
                            </td>
                        </tr>
                    </table>
                </div>
            </template>
            <div v-bind:style="{
                'background-color':get_color('background_secondary'),
                'min-width':300+'px',
            }">
                
                <div v-for="(item,index) in content" v-bind:key="'f'+index+'_'+item.name"
                    v-bind:style="{
                        'padding':5+'px',
                    }">
                    <v-card
                    v-bind:style="{
                        'padding':5+'px',
                    }"
                    :class="m_class"
                    :color="get_color('list_even')"
                    >
                    <table width="100%">
                        <tr>
                            <td colspan="2" align='center'>
                                <file-preview v-if="item.id!=undefined" :url="item.url" :expand="true">
                                </file-preview>
                                <file-preview v-else :file="item" :expand="true">
                                </file-preview>
                            </td>
                        </tr>
                        <tr>
                            <td>
                    <span :class="m_class">
                        {{item.name}}
                    </span>
                            </td>
                            <td align='right'>
                    <v-btn @click='remove(index)' 
                        icon
                        :class="m_class"
                        :color="get_color('button')"
                        :height="iconbtn_size + 'px'"
                        :width="iconbtn_size + 'px'"
                        v-bind:style="{
                            
                    }">
                        <v-icon :size="icon_size+'px'" :color="get_color('font_main')">
                            mdi-close
                        </v-icon>
                    </v-btn>
                            </td>
                        </tr>
                    </table>
                    </v-card>
                </div>
            </div>
            <template v-slot:footer>
                <table width="100%">
                    <tr>
                        <td align=center>
                            <v-btn @click='remove()'
                                :class="m_class"
                                :color="get_color('button')"
                                :height="btn_size + 'px'"
                                v-bind:style="{
                                    
                            }">
                                <v-icon :size="icon_size+'px'">
                                    mdi-close
                                </v-icon>
                                <span :class="m_class">
                                {{_('Remove all files')}}
                                </span>
                            </v-btn>
                        </td>
                    </tr>
                </table>
            </template>
        </overlay-el>
        <input type="file" ref='f_inp' @select="on_select()" @change="on_select()" style="display:none;" multiple>
    </div>
</template>

<script>

import overlay_el from 'chatapp/lib/overlay.vue';
Vue.component('overlay-el',overlay_el);

import chat_file_preview from 'chatapp/lib/chatapp_file_preview.vue';
Vue.component('file-preview',chat_file_preview);

import BaseMixin from 'chatapp/base_mixin.js'

export default {
    name:'chat_attach',
    mixins:[BaseMixin],
    props:{
        'value':{
            'type':Array,
            'default':[]
        },
        'max_mb':{
            'type':Number,
            'default':0
        },
        'max_n':{
            'type':Number,
            'default':0
        },
    },
    watch:{
        value(){
            Vue.set(this,'content',this.value)
        },
    },
    data() {
        return{
            content:[],
            show_files:false,
        }
    },
    computed:{
        total_size_b(){
            var sum = 0;
            for(var i in this.content){
                sum+=this.content[i].size;
            }
            return sum;
        },
        total_size_str(){
            if (this.total_size_b>0){
                if (this.total_size_b>=100000){
                    return Math.round((this.total_size_b/1000000)* 10) / 10 + 'Mb'
                }else if (this.total_size_b>=100){
                    return Math.round((this.total_size_b/1000)* 10) / 10 + 'Kb'
                }else{
                    return Math.round((this.total_size_b/1000)* 100) / 100 + 'Kb'
                }
            }
            return '0Kb'
        },
        check_limit(){
            if (this.max_n>0){
                if(this.content.length>=this.max_n){
                    return 1;
                }
            }
            return 0
        }
    },
    methods:{
        remove(index=-1){
            if (index==-1){
                this.content.splice(0,this.content.length);
            }else{
                this.content.splice(index,1);
            }
            this.$emit('input', this.content)
            if (this.content.length==0){
                Vue.set(this,'show_files',false);
            }
        },
        on_select(){
            var inp = this.$refs.f_inp;
            if (inp!=undefined){
                var ths = this;
                for (var i in inp.files){
                    var file = inp.files[i];
                    if (file.size!=undefined){
                        var f_s = this.content.filter(function(item,index){
                            if(item.name==file.name){
                                ths.content[index] = file
                                return item
                            }
                        })
                        if (f_s.length==0){
                            this.content.push(file)
                            var test = this.check_files()
                            if (test!=0){
                                this.content.splice(this.content.length-1,1)
                                if (test==1){
                                    this.err_mes_g(this._("File too large, total size of all files must be less then")+' '+this.max_mb+' Mb')
                                }else if(test==2){
                                    this.err_mes_g(this._("Too many files, maximum is")+' '+this.max_n)
                                    //this.err_mes_g(this._("Too many")+' '+this.max_n)
                                }else{
                                    this.err_mes_g(this._("File check error"))
                                }
                            }
                        }
                    }
                }
            }
            this.$emit('input', this.content)
        },
        check_files(){
            if(this.max_mb>0){
                var sum = 0;
                for(var i in this.content){
                    sum+=this.content[i].size;
                }
                //if (Math.abs(sum/(1048576))>this.max_mb){
                if (Math.abs(sum/(1000000))>this.max_mb){
                    return 1;
                }
            }
            if (this.max_n>0){
                if(this.content.length>this.max_n){
                    return 2;
                }
            }
            return 0;
        },
        inp_click(){
            var inp = this.$refs.f_inp;
            if (inp!=undefined){
                inp.value=''
                inp.click();
            }
        },
        attach(){
            if(this.content.length==0){
                this.inp_click();
            }else{
                Vue.set(this,'show_files',true);
            }
        },
    },
    mounted(){
    }
}
</script>

<style>

</style>