<template>
    <div>
        <v-snackbar
            bottom
            :class="m_class"
            v-model="flag"
            :color="get_color('error')"
            :timeout="timeout"
            >
            <div align='center'>
                <span :class="m_class">{{_(error)}}</span>
                <v-btn icon @click="show">
                    <v-icon :size="icon_size+'px'">mdi-close</v-icon>
                </v-btn>
            </div>
        </v-snackbar>
    </div>
</template>

<script>

import overlay_el from 'chatapp/lib/overlay.vue';
Vue.component('overlay-el',overlay_el);

import BaseMixin from 'chatapp/base_mixin.js'

export default {
    name:'chat_errors',
    mixins:[BaseMixin],
    props:{

    },
    data() {
        return{
            error:'',
            errors:[],
            timeout:5000,
            flag:false,
            last:0,
            watch:undefined,
        }
    },
    computed:{
        
    },
    methods:{
        init_watch(){
            if (typeof this.watch!= 'undefined'){
                return;
            }
            this.show();
            Vue.set(this,'watch', setInterval(this.show,this.timeout+500))
        },
        show(){
            Vue.set(this,'flag',false);
            if (this.errors.length>0 && typeof this.errors[0] == 'string'){
                var ths = this;
                Vue.nextTick(function(){
                    Vue.set(ths,'error',ths.errors[0]);
                    Vue.set(ths,'flag',true);
                    ths.errors.splice(0,1);
                })
            }else{
                this.del_watch()
            }
        },
        del_watch(){
            clearInterval(this.watch);
            Vue.set(this,'watch',undefined)
        },
        on_error(){
            var error_list = this.$store.getters.pull_error
            this.$store.commit('err_after_pull')
            if (error_list!=undefined && typeof error_list=='string'){
                this.errors.push(error_list)
                this.init_watch();
            }
        },
    },
    mounted(){
        this.$store.watch(
            state => this.$store.getters.get_errors,
            this.on_error
        );
    }
}
</script>

<style>

</style>