<template>
    <div>
        <div style="position:relative; height:0px; width:100%;">
        <div ref="top" v-bind:style="{
            'width':'100%',
            'height':ob_height+'px',
            'position':'absolute',
            'bottom':-1*ob_height+'px',
            'pointer-events':'none',
        }">
        </div>
        </div>
    </div>
</template>

<script>

import BaseMixin from 'chatapp/base_mixin.js'

export default {
    name:"chat_readed",
    mixins: [BaseMixin],
    props:{
        observer_conf:Object,
    },
    data(){
        return{
            observer:undefined,
            ob_height:100,
        }
    },
    methods:{

    },
    mounted(){
        var ths = this;
            this.observer = new IntersectionObserver(
                function callback (items, observer){
                    for (var i=0; i<items.length; i++){
                        if (items[i].isIntersecting){
                            ths.$emit('readed');
                        }
                    };
                },
                this.observer_conf
            );
            Vue.nextTick (()=>{
            ths.observer.observe(ths.$refs.top);
            });
    },
    destroyed(){
        
    },
}
</script>

<style>

</style>