<template>
    <div v-if="show" >
        <v-card style="width:100%; pointer-events:none;"
            :color="get_color('background_third')+'99'"
        >
        <div v-if="mode=='player'" style="text-align:center;">
            <video v-if="is_video"
                controls
                autoplay
                v-bind:style="{
                    'max-width':'100%',
                    'max-height':max_height+'px',
                    'pointer-events':'auto',
                }"
            >
                <source :src="url">
                <p>
                {{_('An error occured while trying to play a video. You can download video directly via link below')+':'}}
                <a :href="url" target="_blank"
                    >{{_('Download video')}}</a
                >
                </p>
            </video>
            <audio
                v-else-if="is_audio"
                autoplay
                controls
                :fluid="false"
                v-bind:style="{
                    'pointer-events':'auto',
                    'max-width':'100%',
                }"
            >
                <source :src="url">
                <p>
                {{_('An error occured while trying to play audio. You can download audio directly via link below')+':'}}
                <a :href="url" target="_blank"
                    >{{_('Download audio')}}</a
                >
                </p>
            </audio>
            <v-btn
                style="pointer-events:auto;"
                @click="stop_p()"
                block
                small
                :class="m_class"
                :color="get_color('button')"
                >
                <v-icon :color="get_color('font_btn')" :size="icon_size+'px'">
                    mdi-arrow-up
                </v-icon>
            </v-btn>
        </div>
        <div v-else>
        <v-btn @click="stop_all()"
            style="pointer-events:auto;"    
        >
            {{_('stop all')}}
        </v-btn>
        <span>
            {{paused_count}} {{_('audio sources')}}
        </span>
        </div>
        </v-card>
    </div>
</template>

<script>

import BaseMixin from 'chatapp/base_mixin.js'

export default {
    name:'chat_played',
    mixins:[BaseMixin],
    props:{
        'type':{
            'type':String,
            'default':'overlay'
        },
        'mode':{
            'type':String,
            'default':'count'
        }//count - счётчикактивных проигрывателей, кнопка "остановить все" player - проигрыватель в компоненте
    },
    watch:{
        
    },
    data() {
        return{
            max_height:250,
            played:[],
            ind:0,
            flag:false,
            video_ext:['mp4','webm',],
            audio_ext:['mp3',],
            url:'',
            preview:'',
        }
    },
    computed:{
        is_video(){
            var ext = this.url.split('.')
            if (ext.length>1){
                if (this.video_ext.indexOf(ext[ext.length-1])!=-1){
                    return true
                }
            }
            return false
        },
        is_audio(){
            var ext = this.url.split('.')
            if (ext.length>1){
                if (this.audio_ext.indexOf(ext[ext.length-1])!=-1){
                    return true
                }
            }
            return false
        },
        show(){
            if (this.mode=='player'){
                return this.url.length>0;
            }else{
                return this.paused_count>0
            }
        },
        paused_count(){
            var out = 0;
            Vue.set(this,'flag',!this.flag);//флаг для пересчёта значения (изменение элементов массива не запусккает пересчёт)
            for(var i in this.played){
                out+=Number(!this.played[i].paused)
            }
            return out;
        },
    },
    methods:{
        play_p(){

        },
        stop_p(){
            this.$store.commit('player_clear');
        },
        stop(){
            this.played[this.ind].pause();
        },
        stop_all(){
            Vue.set(this,'flag',!this.flag);
            for (var i in this.played){
                this.played[i].pause();
            }
        },
        on_change_p(){
            var data = this.$store.getters.get_player_url;
            console.log(data)
            Vue.set(this,'url',data.url||'');
            Vue.set(this,'preview',data.preview||'');
        },
        on_change(){
            var ths = this;
            var played_n = this.$store.getters.get_played;
            if (played_n.length>0){
                for (var i in played_n){
                    if (this.played.indexOf(played_n[i])==-1){
                        Vue.set(this.played,this.played.length,played_n[i])
                            ths.played[ths.played.length-1].addEventListener('pause',function(){
                                Vue.set(ths,'flag',!ths.flag);//заставляем пересчитать воспроиводимые медиа при паузе и продолжении
                                console.log('stop')
                            });
                            ths.played[ths.played.length-1].addEventListener('play',function(){
                                Vue.set(ths,'flag',!ths.flag);
                            });
                    }
                }
                for (var i = this.played.length-1;i>=0;i-=1){
                    if (played_n.indexOf(this.played[i])==-1){
                        this.played.splice(i,1);
                    }
                }
            }else{
                this.played.splice(0,this.played.length)
            }
        },
    },
    mounted(){
        if (this.mode=='player'){
            this.$store.watch(
                state => this.$store.getters.get_player_url,
                this.on_change_p
            );
        }else{
            this.$store.watch(
                state => this.$store.getters.get_played,
                this.on_change
            );
        }
    }
}
</script>

<style>

</style>