<template>
    <div>
        
        <div v-if="is_image||is_video" v-bind:style="{
            'width':'100%',
            'height':max_height+'px',
        }">
        <div @mouseover="hover=true;" @mouseleave="hover=false;" v-bind:style="{
            'position': 'relative',
        }">
        <img v-if="is_overlay || !show_full" :src="f_url_preview" @click="click()" v-bind:style="{
            'max-width':'100%',
            'max-height':max_height+'px',
            'display':'block',
            'width': f_url_preview.length>0 ? '':max_height+'px',
            'height': f_url_preview.length>0 ? '':max_height+'px',
            'background-color': f_url_preview.length>0 ? '':'black',
        }">
        <video ref="videoPlayer" v-if="is_video && show_full && !is_overlay"
            controls
            @play="play()"
            v-bind:style="{
                'max-width':'100%',
                'max-height':max_height+'px',
            }"
        >
            <source :src="f_url">
            <p>
            {{_('An error occured while trying to play a video. You can download video directly via link below')+':'}}
            <a :href="f_url" target="_blank"
                >{{_('Download video')}}</a
            >
            </p>
        </video>
        <div v-bind:style="{
            'position': 'absolute',
            'left':'50%',
            'top':'50%',
            'transform': 'translate(-50%, -50%)',
        }"
        v-if="is_playable && !show_full"
        style="pointer-events:none;"
        >
        <v-icon  :size="mh_third+'px'" v-bind:style="{
                'pointer-events': 'none',
                'background-color':get_color('button')+(hover ? 'ff':'aa'),
                'border-radius':mh_third+'px',
                'border-style':'solid',
                'border-width':0+'px',
            }"
            :color="get_color('primary')"
            >
            mdi-play-circle-outline
        </v-icon>
        </div>
        </div>
        </div>
        <div v-else-if="is_audio">
            <audio
                v-if="mode=='upload'"
                @play="play()"
                ref='audioPlayer'
                controls
                :language="'en'"
                :fluid="false"
                v-bind:style="{
                    'max-width':'100%',
                }"
            >
                <source :src="f_url">
                <p>
                {{_('An error occured while trying to play audio. You can download audio directly via link below')+':'}}
                <a :href="f_url" target="_blank"
                    >{{_('Download audio')}}</a
                >
                </p>
            </audio>
            <div v-else>
                <v-icon  :size="40+'px'" v-bind:style="{
                    'background-color':get_color('button')+(hover ? 'ff':'aa'),
                    'border-radius':100+'%',
                    'border-style':'solid',
                    'border-width':0+'px',
                }"
                :color="get_color('primary')"
                @click="play()"
                >
                    mdi-play-circle-outline
                </v-icon>
                <span :class="m_class">
                    {{name}}
                </span>
            </div>
        </div>
        <div v-else style="width:100%;">
            <v-icon style="margin:auto;" :size="(mh_third+mh_third*(mode=='upload'))+'px'" :color="get_color('font_main')">
                mdi-file-outline
            </v-icon>
        </div>
        <overlay-el v-if="is_overlay" v-model="show_full">
            <div v-bind:style="{
                'background-color':get_color('background_secondary'),
                'max-width':app_width+'px',
                'max-height':app_width+'px',
            }">
                <img v-if="is_image" :src="f_url" v-bind:style="{
                    'max-width':'100%',
                    'max-height':'100%',
                }">
            </div>
        </overlay-el>
    </div>
</template>

<script>

import overlay_el from 'chatapp/lib/overlay.vue';
Vue.component('overlay-el',overlay_el);

import BaseMixin from 'chatapp/base_mixin.js'

export default {
    name:'chat_file_preview',
    mixins:[BaseMixin],
    props:{
        'url':{
            'type':String,
            'default':undefined
        },
        'preview':{
            'type':String,
            'default':undefined
        },
        'file':{
            'type':File,
            'default':undefined
        },
        'expand':{
            'type':Boolean,
            'default':false,
        },
        'mode':{//upload,message
            'type':String,
            'default':'upload'
        },
    },
    data() {
        return{
            max_height:150,
            hover:false,
            show_full:false,
            player:undefined,
            image_ext:['bmp','jpeg','jpg','png','gif',],
            video_ext:['mp4','webm',],
            audio_ext:['mp3',],
        }
    },
    computed:{
        is_overlay(){
            if (this.is_image){
                return true
            }
            return false
        },
        mh_third(){
            return Math.floor(this.max_height/3)
        },
        play_ext(){
            var out = this.video_ext.concat(this.audio_ext);
            out.push('gif');
            return out;
        },
        is_image(){
            if (typeof this.file != 'undefined'){
                var ext = this.file.name.split('.')
                if (ext.length>1){
                    if (this.image_ext.indexOf(ext[ext.length-1])!=-1){
                        return true
                    }
                }
            }else{
                var ext = this.url.split('.')
                if (ext.length>1){
                    if (this.image_ext.indexOf(ext[ext.length-1])!=-1){
                        return true
                    }
                }
            }
            return false
        },
        is_video(){
            if (typeof this.file != 'undefined'){
                var ext = this.file.name.split('.')
                if (ext.length>1){
                    if (this.video_ext.indexOf(ext[ext.length-1])!=-1){
                        return true
                    }
                }
            }else{
                var ext = this.url.split('.')
                if (ext.length>1){
                    if (this.video_ext.indexOf(ext[ext.length-1])!=-1){
                        return true
                    }
                }
            }
            return false
        },
        is_audio(){
            if (typeof this.file != 'undefined'){
                var ext = this.file.name.split('.')
                if (ext.length>1){
                    if (this.audio_ext.indexOf(ext[ext.length-1])!=-1){
                        return true
                    }
                }
            }else{
                var ext = this.url.split('.')
                if (ext.length>1){
                    if (this.audio_ext.indexOf(ext[ext.length-1])!=-1){
                        return true
                    }
                }
            }
            return false
        },
        is_playable(){
            if (typeof this.file != 'undefined'){
                var ext = this.file.name.split('.')
                if (ext.length>1){
                    if (this.play_ext.indexOf(ext[ext.length-1])!=-1){
                        return true
                    }
                }
            }else{
                var ext = this.url.split('.')
                if (ext.length>1){
                    if (this.play_ext.indexOf(ext[ext.length-1])!=-1){
                        return true
                    }
                }
            }
            return false
        },
        f_url_preview(){
            if (typeof this.file == 'undefined'){
                if (typeof this.preview != 'undefined'){
                    return this.host_or_empty+this.preview
                }
                if (this.is_image){
                    return this.host_or_empty+this.url
                }else{
                    return ''
                }
            }
            if (this.is_image){
                return URL.createObjectURL(this.file)
            }else{
                return ''
            }
        },
        f_url(){
            if (typeof this.file == 'undefined'){
                return this.host_or_empty+this.url
            }
            return URL.createObjectURL(this.file)
        },
        name(){
            var url = this.f_url.split('/')
            //electron ругается на at
            //return this.f_url.split('/').at(-1)
            if (url.length>0){
                return url[url.length - 1]
            }else{
                return ''
            }
        },
    },
    methods:{
        click(){
            if (this.expand){
                if (this.mode=='upload' || (!this.is_video && !this.is_audio)){
                    Vue.set(this,'show_full',true);
                }else{
                    this.play();
                }
            }
        },
        play(){
            if (this.mode=='upload'){
                if (typeof this.$refs.audioPlayer != 'undefined'){
                    this.$store.commit('played_add',this.$refs.audioPlayer)
                }
                if (typeof this.$refs.videoPlayer != 'undefined'){
                    this.$store.commit('played_add',this.$refs.videoPlayer)
                }
            }else{
                this.$store.commit('player_set',{'url':this.f_url,'preview':this.f_url_preview})
            }
        },
    },
    mounted() {
        if (this.is_playable && typeof this.file != 'undefined' && !this.is_overlay){
            Vue.set(this,'show_full',true)
        }
        
    },
    destroyed(){
        if (typeof this.$refs.audioPlayer != 'undefined'){
            this.$store.commit('played_remove',this.$refs.audioPlayer)
        }
        if (typeof this.$refs.videoPlayer != 'undefined'){
            this.$store.commit('played_remove',this.$refs.videoPlayer)
        }
    }
}
</script>

<style>
</style>