<template>
    <div>
        <div style="position:relative; height:0px; width:100%;">
        <div ref="top" v-bind:style="{
            'width':'100%',
            'height':ob_height+'px',
            'position':'absolute',
            'top':-1*ob_height+'px',
            'pointer-events':'none',
        }">
        </div>
        </div>
        <table width="100%">
            <tr>
                <td v-bind:style="{
                'padding-bottom': 25+'px',
            }">
                    <v-btn block :height="btn_size+'px'"
                        :color="get_color('button')"
                        @click="load_top()">
                        <v-progress-circular
                        v-if="top_loading"
                        indeterminate
                        color="font_btn"
                        ></v-progress-circular>
                        <span :class="m_class" v-else>
                            {{_('Load more')}}
                        </span>
                    </v-btn>
                </td>
            </tr>
            <tr>
                <td v-bind:style="{
                'border-top-color': get_color('primary'),
                'border-top-style':'dotted',
                'border-top-width':10+'px',
                'padding-top': 25+'px',
            }">
                    <v-btn block :height="btn_size+'px'"
                        :color="get_color('button')"
                        @click="load_bottom()">
                        <v-progress-circular
                        v-if="bottom_loading"
                        indeterminate
                        color="font_btn"
                        ></v-progress-circular>
                        <span :class="m_class" v-else>
                            {{_('Load more')}}
                        </span>
                    </v-btn>
                </td>
            </tr>
        </table>
        <div style="position:relative; height:0px; width:100%;">
        <div ref="bottom" v-bind:style="{
            'width':'100%',
            'height':ob_height+'px',
            'position':'absolute',
            'bottom':-1*ob_height+'px',
            'pointer-events':'none',
        }">
        </div>
        </div>
    </div>
</template>

<script>

import BaseMixin from 'chatapp/base_mixin.js'

export default {
    name:"chat_ll",
    mixins: [BaseMixin],
    props:{
        updateblock:Boolean,
        observer_conf:Object,
    },
    data(){
        return{
            top_loading:false,
            observer_top:undefined,
            bottom_loading:false,
            observer_bottom:undefined,
        }
    },
    computed:{
        ob_height(){
            return 100
        },
    },
    methods:{
        load_top(){
            this.$emit('top');
        },
        load_bottom(){
            this.$emit('bottom');
        },
        initobserver(){
        var ths = this;
            if (typeof this.observer_top == 'undefined'){
                this.observer_top = new IntersectionObserver(
                    function callback (items, observer){
                        if(!ths.updateblock || true){//если в данный момент не подгружает
                            for (var i=0; i<items.length; i++){
                                if (items[i].isIntersecting){
                                    ths.$emit('top');
                                }
                            }
                        };
                    },
                    this.observer_conf
                );
            }else{
                this.observer_top.unobserve(this.$refs.top);
            }
            if (typeof this.observer_bottom == 'undefined'){
                this.observer_bottom = new IntersectionObserver(
                    function callback (items){
                        if(!ths.updateblock  || true){//если в данный момент не подгружает
                                for (var i=0; i<items.length; i++){
                                    if (items[i].isIntersecting){
                                        ths.$emit('bottom');
                                    }
                                }
                            };
                    },
                    this.observer_conf
                );
            }else{
                this.observer_bottom.unobserve(this.$refs.bottom);
            }
            Vue.nextTick (()=>{
                ths.observer_top.observe(ths.$refs.top);
                ths.observer_bottom.observe(ths.$refs.bottom);
            });
        },
        delobserver(){
            if (typeof this.observer_top!='undefined'){
                this.observer_top.disconnect();
            }
            //this.observer_top=undefined;
            if (typeof this.observer_bottom!='undefined'){
                this.observer_bottom.disconnect();
            }
            //this.observer_bottom=undefined;
        },
    },
    mounted(){
        var ths = this;
        this.observer_top = new IntersectionObserver(
            function callback (items, observer){
                if(!ths.updateblock || true){//если в данный момент не подгружает
                    for (var i=0; i<items.length; i++){
                        if (items[i].isIntersecting){
                            ths.$emit('top');
                        }
                    }
                };
            },
            this.observer_conf
        );
        this.observer_bottom = new IntersectionObserver(
            function callback (items){
                if(!ths.updateblock  || true){//если в данный момент не подгружает
                        for (var i=0; i<items.length; i++){
                            if (items[i].isIntersecting){
                                ths.$emit('bottom');
                            }
                        }
                    };
            },
            this.observer_conf
        );
        Vue.nextTick (()=>{
        ths.observer_top.observe(ths.$refs.top);
        ths.observer_bottom.observe(ths.$refs.bottom);
        });
    },
    destroyed(){
        this.delobserver();
    },
}
</script>

<style>

</style>