<template>
    <div v-if="permited('themes')">
            <v-overlay
                :value="loading"
                absolute
                >
                <v-progress-circular
                indeterminate
                color="primary"
                ></v-progress-circular>
            </v-overlay>
            <v-snackbar
            bottom
            :class="m_class"
            v-model="s_bar"
            :color="s_color"
            :timeout="timeout"
            ><div align='center'><span :class="m_class">{{_(message)}}</span><v-btn icon @click="s_bar=false;"><v-icon :size="icon_size+'px'">mdi-close</v-icon></v-btn></div></v-snackbar>
            <v-btn :small="!is_mobile" :height="icon_size+'px'" :width="icon_size" icon @click="dark_switch()" v-if="mode=='button'">
                <v-icon :small="!is_mobile" :color="get_color('font_main')" :size="icon_size+'px'" v-if="dark">mdi-white-balance-sunny</v-icon>
                <v-icon :small="!is_mobile" :color="get_color('font_main')" v-else>mdi-moon-waxing-crescent</v-icon>
            </v-btn>
            <div v-if="mode=='switch'">
            <v-btn-toggle  :background-color="get_color('button')" mandatory  :value='sel' rounded>
                <v-btn small :class="is_selected('light')" style="border-radius:40% 0% 0% 40%;" :height="iconbtnw_size+'px'" :width="iconbtn_size+'px'" icon @click="dark_switch('light')">
                    <v-icon :size="icon_size+'px'">mdi-white-balance-sunny</v-icon>
                </v-btn>
                <v-btn small :height="iconbtnw_size+'px'" style="border-radius:0% 40% 40% 0%;" :width="iconbtn_size+'px'" icon @click="dark_switch('dark')">
                    <v-icon :class="is_selected('dark')" :size="icon_size+'px'">mdi-moon-waxing-crescent</v-icon>
                </v-btn>
            </v-btn-toggle>
            </div>
    </div>
</template>

<script>

import BaseMixin from 'chatapp/base_mixin.js'

export default {
    name:'dark_switch',
    mixins:[BaseMixin],
    props:{
        mode:{
            type:String,
            default:'button'
        },
    },
    data() {
        return{
            
        }
    },
    computed:{
        dark(){
            return this.$vuetify.theme.dark;
        },
        sel(){
            if (this.$vuetify.theme.dark){
                return 1;
            }
            return 0;
        }
    },
    methods:{
        is_selected(item){
            if (item=='light'){
                if (!this.sel){
                    return 'selected'
                }
            }
            if (this.sel){
                return 'selected'
            }
        },
        dark_switch(cur=''){
            if (cur!=''){
                var cur_v = cur=='dark';
                if (this.$vuetify.theme.dark==cur_v){
                    return
                }
            }
            if (!this.permited('themes')){
                return;
            }
            var ths=this;
            Vue.set(ths,'loading',true);
            var qs = ''
                if (typeof sessionid !=='undefined'){
                    qs="?sessionid="+sessionid
                }
            axios.get(this.host_or_empty+'/list/themes/switch_dark'+qs, {withCredentials: true,}).then(function(result){
                Vue.set(ths,'loading',false);
                if (result.data.error){
                    ths.err_mes(result.data.error);
                }else{
                    Vue.set(ths.$vuetify.theme,'dark',!ths.$vuetify.theme.dark)
                    ths.highlight_css_init();
                }
            }).catch(error=>{ths.err_process(error);});
        },
    },
    mounted(){
    }
}
</script>

<style>

</style>