<template>
    <div style="display:flex;align-items:baseline;">
        <v-text-field
            style="padding-top:0px !important;"
            hide-details
            readonly
            :value="text_val"
            :color="get_color('primary')"
            @click="show_dp=true"
            @click:clear="(on_clear())"
            :placeholder="text_val"
        >
        </v-text-field>
        <v-btn @click='on_clear()' 
            icon
            :class="m_class"
            :color="get_color('button')"
            :height="iconbtn_size + 'px'"
            :width="iconbtn_size + 'px'"
            v-bind:style="{

        }">
            <v-icon :size="icon_size+'px'" :color="get_color('font_main')">
                mdi-close
            </v-icon>
        </v-btn>
        <overlay-el v-model="show_dp">
            <div v-bind:style="{'background-color':get_color('background')}">
        <v-date-picker
        :color="get_color('primary')"
            v-model="date"
            :class="m_class"
            @change="date_select()"
            >
        </v-date-picker>
            </div>
        </overlay-el>
    </div>
</template>

<script>

import overlay_el from 'chatapp/lib/overlay.vue';
Vue.component('overlay-el',overlay_el);

import BaseMixin from 'chatapp/base_mixin.js'
import overlay from './overlay.vue';

export default {
  components: { overlay },
    name:'datepick_string',
    mixins:[BaseMixin],
    props:{
        'value':{
            'type':Array,
            'default':[]
        },
    },
    watch:{
        value(){
            if (this.value.length>0){
                Vue.set(this,'date',this.value[0])
            }else{
                Vue.set(this,'date','')
            }
        },
    },
    data() {
        return{
            show_dp:false,
            date:'',
        }
    },
    computed:{
        text_val(){
            var out='---';
            if (this.value.length>0){
                out=this.date_to_str(this.value[0])
                if (this.value.length>1){
                    out+=' - '+this.date_to_str(this.value[1])
                }
            }
            return out;
        },
    },
    methods:{
        date_select(){
            Vue.set(this,'show_dp',false);
            this.value.splice(0,this.value.length)
            this.value.push(this.date)
        },
        on_clear(){
            this.value.splice(0,this.value.length)
        }
    },
    mounted(){
        if (this.value.length>0){
            Vue.set(this,'date',this.value[0])
        }else{
            Vue.set(this,'date','')
        }
    }
}
</script>

<style>

</style>