<template>
    <div data-app>
    <v-menu v-if="mode=='button'|| mode=='button_s' || mode=='button_es'" :close-on-click="true">
    <template v-slot:activator="{ on }">
      <v-btn
      v-if="mode=='button'"
      :color="get_color('button')"
      style="width:100%;"
      :height="btn_size+'px'"
        
        v-on="on"
      >
        <v-icon :size="icon_size+'px'">mdi-earth</v-icon>
        <span :class="m_class">{{_(cur_lang.name)}}</span>
      </v-btn>
      <v-btn v-else-if="mode=='button_s'"
        :color="get_color('button')"
        :height="btn_size+'px'"
        v-on="on"
      >
        <v-icon :size="icon_size+'px'">mdi-earth</v-icon>
        <span :class="m_class">{{_(cur_lang.name)}}</span>
      </v-btn>
      <v-btn v-else-if="mode=='button_es'"
        :color="get_color('button')"
        :height="iconbtn_size+'px'"
        :width="iconbtn_size+'px'"
        v-on="on"
        icon
      >
        <v-icon :size="icon_size+'px'" :color="get_color('font_main')">mdi-earth</v-icon>
      </v-btn>
    </template>
        <v-list :color="get_color('background_secondary')" >
            <v-list-item-group :value="sel" mandatory>
      <v-list-item
        v-for="(item) in lang_list"
        :key="item.name"
        active
        @click="set_lang(item)"
      >
        <v-list-item-title><span :class="m_class">{{_(item.name)}}</span></v-list-item-title>
      </v-list-item>
            </v-list-item-group>
    </v-list>
    </v-menu>
    <v-list v-else-if="mode=='list'" :color="get_color('background_secondary')" >
            <v-list-item-group :value="sel" mandatory>
      <v-list-item
        v-for="(item) in lang_list"
        :key="item.name"
        active
        @click="set_lang(item)"
      >
        <v-list-item-title><span :class="m_class">{{_(item.name)}}</span></v-list-item-title>
      </v-list-item>
            </v-list-item-group>
    </v-list>
    </div>
</template>

<script>

import BaseMixin from 'chatapp/base_mixin.js'

export default {
    name:'lang_picker',
    mixins:[BaseMixin],
    props:{
        mode:{
            type:String,
            default:'button'
        },
    },
    data(){
        return{
            lang_list:[],
            sel_m:1,
        }
    },
    computed:{
        sel(){
            for (var i in this.lang_list){
                if (this.lang_list[i].cur){
                    return Number(i)
                }
            }
            return -1;
        },
        cur_lang(){
            var script = document.getElementById('js_catalog');
            var pn = '?lang='
            var p = script.src.indexOf(pn)
            if (p!=-1){
                var lc = script.src.substr(p+pn.length)
                var out = this.lang_list.filter(function(item){
                   if(item.code==lc){return item};
                });
                if (out.length>0){
                    return out[0];
                }    
            }
            var out = this.lang_list.filter(function(item){
               if(item.cur){return item}; 
            });
            if (out.length>0){
                return out[0];
            }
            return {'name':'',id:-1,cur:false}
        },
    },
    methods:{
        get_lang_list(){
            var ths = this;
            this.lang_list.splice(0,this.lang_list.length);
            axios.get(this.host_or_empty+'/list/lang', {withCredentials: true,}).then(function(result){
                if (result.data.error){
                    ths.err_mes(result.data.error);
                }else{
                    for (var i in result.data.list){
                        ths.lang_list.push({
                            'code':result.data.list[i].code,
                            'name':result.data.list[i].name,
                            'cur':result.data.list[i].cur,
                        })
                    }
                }
            }).catch(error=>{ths.err_process(error);});
        },
        set_lang(item){
            var ths = this;
            var qs = ''
            if (typeof sessionid !=='undefined'){
                qs="&sessionid="+sessionid
            }
            axios.get(this.host_or_empty+'/set/lang?lang='+item.code+qs, {withCredentials: true,}).then(function(result){
                if (result.data.error){
                    ths.err_mes(result.data.error);
                }else if (result.data.no_auth){
                    for (var i in ths.lang_list){
                        ths.lang_list[i].cur=false;
                    }
                    item.cur=true;
                    ths.lang_reset(item.code);
                    Vue.nextTick(function(){
                    })
                }else{
                    for (var i in ths.lang_list){
                        ths.lang_list[i].cur=false;
                    }
                    item.cur=true;
                    ths.lang_reset();
                }
            }).catch(error=>{ths.err_process(error);});
        },
    },
    mounted(){
        this.get_lang_list();
    },
}
</script>

<style>

</style>