<template>
    <div>
        <v-overlay :value="show" :dark="is_dark_theme">
            <div
                v-bind:style="{

            }">
            <v-card>
                
            
            <div v-if="!connected" 
                v-bind:style="{
                'position':'absolute',
                'height':'100%',
                'width':'100%',
                'z-index':'2',
                'background-color':'rgba('+255*is_dark_theme+','+255*is_dark_theme+','+255*is_dark_theme+',0.5)'
            }">
                <div v-bind:style="{
                    'position':'absolute',
                    'top':'50%',
                    'left':'50%',
                    'z-index':'2',
                    'padding':10+'px',
                    'border-radius':40+'px',
                    'background-color':get_color('background_secondary'),
                }">
                    <span v-if="ws_state==0">
                        <v-progress-circular
                            :color="get_color('primary')"
                            indeterminate
                        >
                        </v-progress-circular>
                    </span>
                    <span v-else-if="ws_state==1">
                        <v-icon
                            :color="get_color('font_main')"
                            large
                        >
                            mdi-check
                        </v-icon>
                    </span>
                    <span v-else-if="ws_state==2">
                        <v-progress-circular
                            :color="get_color('primary')"
                            indeterminate
                        >
                        </v-progress-circular>
                    </span>
                    <span v-else-if="ws_state==3">
                        <v-icon
                            :color="get_color('font_main')"
                            large
                        >
                            mdi-wifi-strength-off-outline
                        </v-icon>
                    </span>
                </div>
            </div>

            <div class="elevation-5" align='left' v-bind:style="{
                'background-color':get_color('background_secondary'),
                'position':'inherit',
                'z-index':'3',
                }">
                    <v-btn icon :width="iconbtn_size+'px'" :height="iconbtn_size+'px'" @click="close()">
                        <v-icon :color="get_color('font_main')" :size="icon_size+'px'">
                            mdi-close
                        </v-icon>
                    </v-btn>
                    <div>
                        <slot name="header"></slot>
                    </div>
                </div>

            <div v-bind:style="{
                'max-height':max_height+'px',
                'max-width':max_width*0.8+'px',
                'overflow':'auto',
            }">
            <slot></slot>
            </div>
            <div v-bind:style="{
                'background-color':get_color('background_secondary'),
            }">
                <slot name="footer"></slot>
            </div>
            </v-card>
            </div>
        </v-overlay>
    </div>
</template>

<script>

import BaseMixin from 'chatapp/base_mixin.js'

import lang_picker from 'chatapp/lib/lang.vue'
Vue.component('lang-picker',lang_picker);

export default {
    name:'overlay_el',
    mixins: [BaseMixin],
    model: {
        prop: 'show',
        event: 'change'
    },
    props:{
        show:{
            type:Boolean,
            default:false,
        },
    },
    data(){
        return{
            
        }
    },
    computed:{
        max_width(){
            return this.app_width;
        },
        max_height(){
            return this.app_height;
        },
        ws_state(){
            return this.$store.getters.get_ws_state;
        },
        connected(){
            return this.$store.getters.get_connected;
        },
    },
    methods: {
        open(){
            Vue.set(this,'show',true);
            this.$emit('change', this.show);
        },
        close(){
            Vue.set(this,'show',false);
            this.$emit('change', this.show);
        },
    },
    mounted(){
        
    },
    created(){
        
    },
    /*watch: {
        show() {
            if (this.show && !this.show_d) this.open()
            else if (!this.show && this.show_d) this.close()
        },
    },*/
}

</script>

<style>

</style>