<template>
    <div v-bind:style="{
        'min-width':300+'px',
        'background-color':get_color('background_secondary'),
    }">
        <table v-bind:style="{
            'padding':5+'px',
        }">
            <tr>
                <td v-bind:style="{
            'padding':5+'px',
        }">
        <lang-picker></lang-picker>
                </td>
                <td v-bind:style="{
            'padding':5+'px',
        }">
        <darkmode-switch mode='switch'></darkmode-switch>
                </td>
            </tr>
            <tr>
                <td v-bind:style="{
                    'padding':5+'px',
                }">
                    <v-btn :height="btn_size+'px'" :color="get_color('button')"  @click="on_logout()">
                        <v-icon :size="icon_size+'px'">mdi-exit-to-app</v-icon>
                        <span :class="m_class">{{_("Exit")}}</span>
                    </v-btn>
                </td>
            </tr>
            <tr>
                <td v-bind:style="{
                    'padding':5+'px',
                }">
                    <v-btn :height="btn_size+'px'" :color="get_color('button')"  @click="on_logout(false,true)">
                        <v-icon :size="icon_size+'px'">mdi-exit-to-app</v-icon>
                        <span :class="m_class">{{_("Exit on all devices")}}</span>
                    </v-btn>
                </td>
            </tr>
        </table>
        <v-expansion-panels accordion>
                <v-expansion-panel v-if="permited('themes')">
                    <v-expansion-panel-header :class="m_class" :color="get_color('list_even')">
                        <span :class="m_class+' label'">
                            {{_("Color themes")}}
                        </span>
                    </v-expansion-panel-header>
                    <v-expansion-panel-content :color="get_color('background_secondary')">
                        <theme-picker></theme-picker>
                    </v-expansion-panel-content>
                </v-expansion-panel>
        </v-expansion-panels>
    </div>
</template>

<script>

import BaseMixin from 'chatapp/base_mixin.js'

import lang_picker from 'chatapp/lib/lang.vue'
Vue.component('lang-picker',lang_picker);

import dark_switch from 'chatapp/lib/darkmode_switch.vue'
Vue.component('darkmode-switch',dark_switch);

import theme_picker from 'chatapp/lib/themes.vue'
Vue.component('theme-picker',theme_picker);

export default {
    name:'chat_settings',
    mixins: [BaseMixin],
    props:{
        user_id:{
            type:Number,
            default:-1,
        },
    },
    data(){
        return{
            
        }
    },
    computed:{
        
    },
    methods: {
        
    },
    mounted(){
        
    },
    created(){
        
    },
}

</script>

<style>

</style>