<template>
    <div>
            <v-overlay
                :value="loading"
                absolute
                >
                <v-progress-circular
                indeterminate
                color="primary"
                ></v-progress-circular>
            </v-overlay>
            <v-snackbar
            bottom
            :class="m_class"
            v-model="s_bar"
            :color="s_color"
            :timeout="timeout"
            ><div align='center'><span :class="m_class">{{_(message)}}</span><v-btn icon @click="s_bar=false;"><v-icon :size="icon_size+'px'">mdi-close</v-icon></v-btn></div></v-snackbar>
        <div v-for="item in themes" :key="item.name"
            v-bind:style="{'background-color':cur_color(item), 'padding-bottom':'5px'}">
            <v-subheader><span :class="m_class">{{_(item.name)}}</span><span :class="m_class" v-if='item.cur'> ({{_('Current')}})</span></v-subheader>
            <div>
                <div v-bind:style="{height:preview_height+'px',width:preview_width+'px'}">
                <v-row>
                <v-icon :size="icon_size+'px'" :color="get_color('font_main')" v-bind:style="{'width':preview_icon_width+'px'}">mdi-white-balance-sunny</v-icon>
                <div
                v-bind:style="{
                    'height':'1px',
                    'width':preview_el_width+'px',
                    'border-style':'solid',
                    'border-radius':Math.floor(preview_height/2)+'px 0 0 '+Math.floor(preview_height/2)+'px',
                    'border-right-width':'0px',
                    'border-top-width':Math.floor(preview_height/2)+'px',
                    'border-bottom-width':Math.floor(preview_height/2)+'px',
                    'border-left-width':Math.floor(preview_height/2)+'px',
                    'border-color':get_theme_color(item.light,color_first,false),
                }"
                ></div>
                <div v-for="(color,index) in colors" :key="color+'_l'"
                v-bind:style="{
                    'height':'1px',
                    'width':preview_el_width*((0<index)*(index<(colors.length-1)))+'px',
                    'border-style':'solid',
                    'border-bottom-width':'0px',
                    'border-left-width':'0px',
                    'border-top-width':preview_height+'px',
                    'border-right-width':preview_el_swipe+'px',
                    'border-top-color':get_theme_color(item.light,color,false),
                    'border-right-color':get_next(item.light,index,false),
                }"
                ></div>
                <div
                v-bind:style="{
                    'height':'1px',
                    'width':preview_el_width+'px',
                    'border-style':'solid',
                    'border-radius':'0 '+Math.floor(preview_height/2)+'px '+Math.floor(preview_height/2)+'px 0',
                    'border-left-width':'0px',
                    'border-top-width':Math.floor(preview_height/2)+'px',
                    'border-bottom-width':Math.floor(preview_height/2)+'px',
                    'border-right-width':Math.floor(preview_height/2)+'px',
                    'border-color':get_theme_color(item.light,color_last,false),
                }"
                ></div>
                </v-row>
                </div>
            </div>
            <div v-bind:style="{'margin-top':(preview_height/2)+5+'px','margin-bottom':'5px'}">
                <div v-bind:style="{height:preview_height+'px',width:preview_width+'px'}">
                <v-row>
                <v-icon :size="icon_size+'px'" :color="get_color('font_main')" v-bind:style="{'width':preview_icon_width+'px'}">mdi-moon-waxing-crescent</v-icon>
                <div
                v-bind:style="{
                    'height':'1px',
                    'width':preview_el_width+'px',
                    'border-style':'solid',
                    'border-radius':Math.floor(preview_height/2)+'px 0 0 '+Math.floor(preview_height/2)+'px',
                    'border-right-width':'0px',
                    'border-top-width':Math.floor(preview_height/2)+'px',
                    'border-bottom-width':Math.floor(preview_height/2)+'px',
                    'border-left-width':Math.floor(preview_height/2)+'px',
                    'border-color':get_theme_color(item.dark,color_first,false),
                }"
                ></div>
                <div v-for="(color,index) in colors" :key="color+'_l'"
                v-bind:style="{
                    'height':'1px',
                    'width':preview_el_width*((0<index)*(index<(colors.length-1)))+'px',
                    'border-style':'solid',
                    'border-bottom-width':'0px',
                    'border-left-width':'0px',
                    'border-top-width':preview_height+'px',
                    'border-right-width':preview_el_swipe+'px',
                    'border-top-color':get_theme_color(item.dark,color,false),
                    'border-right-color':get_next(item.dark,index,false),
                }"
                ></div>
                <div
                v-bind:style="{
                    'height':'1px',
                    'width':preview_el_width+'px',
                    'border-style':'solid',
                    'border-radius':'0 '+Math.floor(preview_height/2)+'px '+Math.floor(preview_height/2)+'px 0',
                    'border-left-width':'0px',
                    'border-top-width':Math.floor(preview_height/2)+'px',
                    'border-bottom-width':Math.floor(preview_height/2)+'px',
                    'border-right-width':Math.floor(preview_height/2)+'px',
                    'border-color':get_theme_color(item.dark,color_last,false),
                }"
                ></div>
                </v-row>
                </div>
            </div>
            <v-btn @click="apply_theme(item)" :color="get_color('button')"><span :class="m_class">{{_('Set theme')}}</span></v-btn>
        </div>
    </div>
</template>

<script>

import BaseMixin from 'chatapp/base_mixin.js'

export default {
    name:'theme_picker',
    mixins:[BaseMixin],
    data(){
        return{
            themes:[],
        }
    },
    computed:{
        preview_icon_width(){
            return 60;
        },
        preview_height(){
            return 30
        },
        preview_width(){
            return 300
        },
        preview_swipe(){
            return this.preview_height/100;
        },
        colors(){
            var out = [];
            for (var theme in this.themes){
                for (var color in this.themes[theme].light){
                    if (out.indexOf(color)==-1){
                        out.push(color)
                    }
                }
                for (var color in this.themes[theme].dark){
                    if (out.indexOf(color)==-1){
                        out.push(color)
                    }
                }
            }
            return out;
        },
        color_first(){
            if (this.colors.length>0)
                return this.colors[0];
            return ''
        },
        color_last(){
            if (this.colors.length>0)
                return this.colors[this.colors.length-1];
            return ''
        },
        preview_el_swipe(){
            return Math.floor(this.preview_el_width*this.preview_swipe);
        },
        preview_el_width(){
            var width = this.preview_width-this.preview_icon_width;
            var col_num = this.colors.length+2;
            var out = 1
            if (col_num>0){
                out = Math.floor(width/col_num)
            }
            return out;
        }
    },
    methods:{
        cur_color(item){
            if (item.cur){
                return this.get_color('background_third');
            }
            return this.get_color('background_secondary');
        },
        get_theme_color(colors,color,dark){
            if (Object.keys(colors).indexOf(color)!=-1){
                return colors[color].value;
            }else{
                return ''
            }
        },
        get_next(colors, index,dark){
            if(index<this.colors.length-1){
                return this.get_theme_color(colors,this.colors[index+1],dark);
            }
            return this.get_theme_color(colors,this.colors[index],dark);
        },
        get_prev(colors, index,dark){
            if(index>0){
                return this.get_theme_color(colors,this.colors[index-1],dark);
            }
            return this.get_theme_color(colors,this.colors[index],dark);
        },
        apply_theme(theme){
            var ths = this;
            Vue.set(ths,'loading',true);
            var qs = ''
                if (typeof sessionid !=='undefined'){
                    qs="&sessionid="+sessionid
                }
            axios.get(this.host_or_empty+'/list/themes/set_theme?theme_id='+theme.id+qs, {withCredentials: true,}).then(function(result){
                Vue.set(ths,'loading',false);
                if (result.data.error){
                    ths.err_mes(result.data.error);
                }else{
                    for (var thm in ths.themes){
                        Vue.set(ths.themes[thm],'cur',false);
                    }
                    Vue.set(theme,'cur',true);
                    ths.set_theme(theme);
                }
            }).catch(error=>{ths.err_process(error);});
        },
        get_themes(){
            var ths = this;
            this.themes.splice(0,this.themes.length);
            Vue.set(ths,'loading',true);
            axios.get(this.host_or_empty+'/list/themes/', {withCredentials: true,}).then(function(result){
                Vue.set(ths,'loading',false);
                if (result.data.error){
                    ths.err_mes(result.data.error);
                }else{
                    for (var theme in result.data.list){
                        ths.themes.push(result.data.list[theme]);
                    }
                }
            }).catch(error=>{ths.err_process(error);});
        },
    },
    mounted(){
        this.get_themes();
    }
}
</script>

<style>

</style>