<!-- chat/templates/chat/index.html -->
<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <title>{% block title %}{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script> if (typeof module === 'object') {window.module = module; module = undefined;};</script>
    <script type="text/javascript" src="{% static "external/reconnecting-ws.js"%}"></script>
    <script type="text/javascript" src="{% static "external/jquery-3.4.1.js" %}"></script>

    <script id='js_catalog' type="text/javascript" src="{% url 'javascript-catalog' %}"></script>

    <script type="text/javascript" src="{% static "external/vuex.js" %}"></script>
    <script type="text/javascript" src="{% static "external/axios.js" %}"></script>
    <script type="text/javascript" src="{% static "external/js.cookie.js" %}"></script>
    <script type="text/javascript" src="{% static "external/Vue.js" %}"></script>
    <script type="text/javascript" src="{% static "chatapp/vjs/store.js" %}"></script>
    <script type="text/javascript" src="{% static "vendors.js" %}"></script>
    {% block extra_head %}{% endblock %}
    <script>if (window.module) module = window.module;</script>
    {% csrf_token %}

</head>
<body>
    <div style="width: 100%; height: 100%; background-color:gray">
        <div style="height: 600px;">
            {% block content %}
            {% endblock %}
        </div>
    </div>
    <div id="chat_context" style="display: none;"
        ver="{{version}}"
        u_name="{{u_name}}"
        theme="{{theme}}"
        use_sur="{{use_sur}}"
    ></div>
    {% block extra_body %}{% endblock %}
</body>
</html>