
{% extends "base.html" %}
{% load static %}
{% block title %}MultiChat Example{% endblock %}
{% block header_text %}MultiChat Example{% endblock %}

{% block extra_head%}

<script type="text/javascript" src="{% static "chatapp/vjs/chatapp.js" %}"></script>

{% endblock %}

{% block extra_body %}
    
    {% endblock %}

    {% block content %}

    <div id="chat-div">
    </div>

    {% endblock %}